<table bgcolor = "#D9D9D9" summary = "Width Calc Results">
	<tr>
		<td width = '160' bgcolor = "#ffffff" ><center><h3><b>Coil Specifications</b></h3></center></td>
		<td bgcolor = "#ffffff" ><center><%= image_tag('C-Joist_Small.png', size: "60", alt: "Stud") %> <br /><b> Stud </b></center></td>
		<td bgcolor = "#ffffff"><center><%= image_tag('Structural_Track_Small.png', size: "60", alt: "Track") %> <br /><b> Track </b></center></td>
	</tr>
	<tr>
		<td width = '160'><b>Coil Width (Inches):          </b></td>
		<td width = '100' bgcolor = "#ffffff"><center><%= number_with_precision((params[:results][4].to_f), precision: 4) %></center></td>
		<td width = '100'><center><%= number_with_precision((params[:results][5].to_f), precision: 4) %></center></td>
	</tr>
	<tr>
		<td width = '160'><b>SqFt/Foot:</b></td>
		<td width = '100' bgcolor = "#ffffff"><center><%= number_with_precision((params[:results][6].to_f), precision: 4) %></center></td>
		<td width = '100'><center><%= number_with_precision((params[:results][7].to_f), precision: 4)%></center></td>
	</tr>
	<tr>
		<td width = '160'><b>Pounds/Foot:  </b></td>
		<td width = '100' bgcolor = "#ffffff"><center><%= number_with_precision((params[:results][8].to_f), precision: 4)%></center></td>
		<td width = '100'><center><%= number_with_precision((params[:results][9].to_f), precision: 4)%></center></td>
	</tr>
	<tr>
		<td width = '160'><b>Coil Gauge:  </b></td>
		<td width = '160' bgcolor = '#ffffff'><center><%= params[:results][10] %></center></td>
		<td width = '160' bgcolor = '#D9D9D9'><center><%= params[:results][10] %></center></td>
		
	</tr>
	<tr>
		<td width = '160'><b>Coil Mils:  </b></td>
		<td width = '160' bgcolor = '#ffffff'><center><%= params[:results][11] %></center></td>
		<td width = '160' bgcolor = '#D9D9D9'><center><%= params[:results][11] %></center></td>
	</tr>
</table>
<hr />

<%= button_to "New Profile", "widthCalc", :method => :get %>

	